```
23일 토요일 각자 eda 후 올리기
24일 일요일 슬랙 또는 행아웃


EDA 해볼 것
1. 사람이 어디서 어디로 가장 많이 이동하는 지. 새로운 노선 만들기(인구수가 많은 지역(유동인구), 정류장 이용 많은 곳)
2. 시간대 이용자 파악 후 버스 배차간격 조정 - 주중, 주말 나눠서 분석 (예측)
3. 신도시 버스 인프라 먼저 파악 (지하철x)
4. 서울에서 오는 버스가 어느 정류장에 서는지 확인

최적화 방법
1. 가장 많은 이용자가 있는 정류장 최단거리
2. 비용을 최소화 하는 방법 (최대한 노선 합치기)
3. 있는 노선 확인 후 사람을 많이 태우는 노선 추천(수요)
```

In [40]:
%matplotlib inline

import geopandas as gpd

import pandas as pd
import os
import requests
import folium
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
# import plotly.express as px
# import plotly.graph_objects as go

In [41]:
# matplotlib에 “AppleGothc”(Mac) 또는 “Malgun Gothic”(Windows) 글꼴 적용

import matplotlib.font_manager as fm

for font in fm.fontManager.ttflist:
    if font.name in ['AppleGothic', 'Malgun Gothic']:
        plt.rcParams['font.family'] = font.name
        break

plt.rcParams['font.family']

['Malgun Gothic']

In [42]:
#2018년 7월 승차일 기준 1~4일의 버스 카드태깅 정보를 담고있습니다.
#미터!!!!!!!!!!!!!!!!!!!!!!!!!
TripChain = pd.read_csv('../Data/PJT001_TripChain.csv')

#17~18년 기준, 경기도 버스 정류장에 대한 정보를 담고있습니다.
StationTable = pd.read_csv('../Data/PJT001_stations_table.csv')

#2018년 7월 1~4일의 행정동별 이동 인구수 정보를 담고 있습니다.
AreaPeople = pd.read_csv('../Data/PJT001_sk_emd_od.csv')

#버스노선-정류장 매핑 테이블 정보 입니다.
RouteStationInfo = pd.read_csv('../Data/PJT001_routestationinfo.csv')

In [43]:
TripChain.columns=['암호화카드번호', '트랜잭션ID', '환승횟수', '교통카드발행사ID',
       '총이용객수', '사용자구분', '교통수단CD1', '교통수단CD2',
       '교통수단CD3', '교통수단CD4', '교통수단CD5', '버스노선ID1',
       '버스노선ID2', '버스노선ID3', '버스노선ID4', '버스노선ID5',
       '차량ID1', '차량ID2', '차량ID3', '차량ID4',
       '차량ID5', '총통행거리', '총탑승시간', '총소요시간',
       '승차일시1', '승차일시2', '승차일시3', '승차일시4',
       '승차일시5', '하차일시1', '하차일시2', '하차일시3',
       '하차일시4', '하차일시5', '최초승차일시', '최종하차일시',
       '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4',
       '승차역ID5', '하차역ID1', '하차역ID2', '하차역ID3',
       '하차역ID4', '하차역ID5', '최초승차역ID', '최종하차역ID',
       '총이용금액', '수집건수', '트립체인완료코드']

In [44]:
TripChain.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
0,900079696430,56,2,9000923,1,1,500.0,500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116708.0,1350,2,;
1,900079697651,5,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4117269.0,1250,1,;
2,900079698254,32,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4107936.0,1550,1,;
3,900079699257,80,1,9000923,1,1,500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116717.0,1250,1,;
4,900079701419,64,1,9000923,1,1,530.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4116848.0,2050,1,;

날짜, 시간 데이터 datetime으로 데이터타입 변경

In [45]:
TripChain['승차일시1'] = pd.to_datetime(TripChain['승차일시1'], format='%Y%m%d%H%S%f')
TripChain['승차일시2'] = pd.to_datetime(TripChain['승차일시2'], format='%Y%m%d%H%S%f')
TripChain['승차일시3'] = pd.to_datetime(TripChain['승차일시3'], format='%Y%m%d%H%S%f')
TripChain['승차일시4'] = pd.to_datetime(TripChain['승차일시4'], format='%Y%m%d%H%S%f')
TripChain['승차일시5'] = pd.to_datetime(TripChain['승차일시5'], format='%Y%m%d%H%S%f')
TripChain['하차일시1'] = pd.to_datetime(TripChain['하차일시1'], format='%Y%m%d%H%S%f')
TripChain['하차일시2'] = pd.to_datetime(TripChain['하차일시2'], format='%Y%m%d%H%S%f')
TripChain['하차일시3'] = pd.to_datetime(TripChain['하차일시3'], format='%Y%m%d%H%S%f')
TripChain['하차일시4'] = pd.to_datetime(TripChain['하차일시4'], format='%Y%m%d%H%S%f')
TripChain['하차일시5'] = pd.to_datetime(TripChain['하차일시5'], format='%Y%m%d%H%S%f')

In [46]:
TripChain.shape

(1048575, 51)

In [47]:
TripChain['암호화카드번호'].nunique()

498764

In [48]:
TripChain['승차일시1'].unique()

array(['2018-07-01T05:00:25.430000000', '2018-07-01T07:00:21.560000000',
       '2018-07-01T12:00:36.530000000', ...,
       '2018-07-04T14:00:02.590000000', '2018-07-04T09:00:49.560000000',
       '2018-07-04T21:00:21.540000000'], dtype='datetime64[ns]')

In [49]:
# RouteStationInfo_latlon = RouteStationInfo_latlon.dropna()

# TripChain[]

---

버스노선-정류장 매핑 정보
```
'seq ' : 순번.
'pr_station_id' : 노선 ID.
'bus_line_no' : 버스 노선 번호.
'bus_line_no_seq' : 버스 라인 정류장 순서.
'station_nm ' : 정류장 명칭.
'station_id ' : 표준정류장ID.
'mobile_no' : 모바일정류장ID.
```

In [50]:
# 버스 개수
RouteStationInfo['bus_line_no'].nunique()

226

In [51]:
RouteStationInfo.head()

,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no
0,65286,228000018,10-4,1,용인터미널,228001552,47634.0
1,65287,228000018,10-4,2,용인터미널(경유),277102443,NaN
2,65288,228000018,10-4,3,포브스병원,228000443,29439.0
3,65289,228000018,10-4,4,제일교회,228000665,29881.0
4,65290,228000018,10-4,5,라이프아파트,228000664,29457.0

,표준정류장ID,시군명,정류소명,정류소영문명,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도,모바일정류장ID,이비카드정류장ID
0,228003422,용인시,손골마을회관.국제학교,"Songol Community Center,",56443.0,노변정류장,경기도 용인시,NaN,37.342517,127.066817,56443.0,NaN
1,228003423,용인시,풀잎사랑,Pulipsarang,56444.0,노변정류장,경기도 용인시,NaN,37.341800,127.068983,56444.0,NaN
2,228003424,용인시,풀잎사랑,Pulipsarang,56445.0,노변정류장,경기도 용인시,NaN,37.341817,127.069083,56445.0,NaN
3,228003425,용인시,대성공정,Daesung Process,56446.0,노변정류장,경기도 용인시,NaN,37.339350,127.073067,56446.0,NaN
4,228003426,용인시,대성공정,Daesung Process,56447.0,노변정류장,경기도 용인시,NaN,37.339183,127.073400,56447.0,NaN
5,228003427,용인시,기응사,Gieungsa,56448.0,노변정류장,경기도 용인시,NaN,37.338267,127.075033,56448.0,NaN
6,228003428,용인시,기응사,Gieungsa,56449.0,노변정류장,경기도 용인시,NaN,37.338333,127.075067,56449.0,NaN
7,228003429,용인시,동천동용인한빛중학교,Dongcheon-dong Yongin Hanbit Middle School,56450.0,노변정류장,경기도 용인시,NaN,37.337900,127.084967,56450.0,NaN
8,228003430,용인시,서봉마을.노블랜드,"Seobong Maeul, Novel Land",56451.0,노변정류장,경기도 용인시,NaN,37.333083,127.052017,NaN,NaN
9,228003431,용인시,서봉마을.노블랜드,"Seobong Maeul, Noble Land",56452.0,노변정류장,경기도 용인시,NaN,37.333150,127.051900,NaN,NaN
10,228003432,용인시,삼성쉐르빌,Samsung Cherevil,56453.0,노변정류장,경기도 용인시,NaN,37.332950,127.053517,NaN,NaN
11,228003433,용인시,삼성쉐르빌,Samsung Cherevil,56454.0,노변정류장,경기도 용인시,NaN,37.332983,127.053600,NaN,NaN
12,228003434,용인시,신봉2리마을회관,Seobong Supermarket,56455.0,노변정류장,경기도 용인시,NaN,37.332683,127.054800,NaN,NaN
13,228003435,용인시,신봉2리마을회관,Seobong Supermarket,56456.0,노변정류장,경기도 용인시,NaN,37.332733,127.054950,NaN,NaN
14,228003436,용인시,서봉마을입구,Seobong Maeul,56457.0,노변정류장,경기도 용인시,NaN,37.332600,127.056650,NaN,NaN
15,228003437,용인시,서봉마을입구,Seobong Maeul,56458.0,노변정류장,경기도 용인시,NaN,37.332650,127.056733,NaN,NaN
16,228003442,용인시,신봉센트레빌6차,Sinbong Centreville Apartment 6-cha,56463.0,노변정류장,경기도 용인시,NaN,37.331600,127.064483,NaN,NaN
17,228003443,용인시,신봉센트레빌6차,Sinbong Centreville 6-cha,56464.0,노변정류장,경기도 용인시,NaN,37.331733,127.064617,56464.0,NaN
18,228003447,용인시,래미안이스트팰리스4단지,Raemian East Palace 4-danji,56468.0,노변정류장,경기도 용인시,NaN,37.336250,127.086833,56468.0,NaN
19,228003470,용인시,성우석재앞,Sungwoo Stone,56491.0,노변정류장,경기도 용인시,NaN,37.359983,127.063733,56491.0,NaN
20,228003481,용인시,동천동,Dongcheon-dong,56502.0,노변정류장,경기도 용인시,NaN,37.345850,127.092583,56502.0,NaN
21,228003482,용인시,동천동,Dongcheon-dong,56503.0,노변정류장,경기도 용인시,NaN,37.345967,127.092733,56503.0,NaN
22,228003483,용인시,동천초등학교,Dongcheon Elementary School,56504.0,노변정류장,경기도 용인시,NaN,37.344383,127.094500,NaN,NaN
23,228003484,용인시,동천초등학교,Dongcheon Elementary School,56505.0,노변정류장,경기도 용인시,NaN,37.344517,127.094650,NaN,NaN
24,228003485,용인시,남영골프장,Namyeong Golf Range,56506.0,노변정류장,경기도 용인시,NaN,37.343000,127.096467,56506.0,NaN
25,228003486,용인시,남영골프장,Namyeong Golf Range,56507.0,노변정류장,경기도 용인시,NaN,37.343100,127.096600,56507.0,NaN
26,229507470,파주시,봉서3리,NaN,NaN,NaN,NaN,NaN,37.853267,126.802200,NaN,NaN
27,228003487,용인시,동문5차아파트삼거리,Dongmun Apartment 5-cha Samgeori,56508.0,노변정류장,경기도 용인시,NaN,37.339600,127.096350,56508.0,NaN
28,228003490,용인시,산울마을,Sanul Maeul,56511.0,노변정류장,경기도 용인시,NaN,37.359117,127.048267,56511.0,NaN
29,228003503,용인시,죽전역,Jukjeon Station,56524.0,노변정류장,경기도 용인시,NaN,37.324167,127.106900,56524.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
38479,229900025,파주시,옥계동,Okgye-dong,31600.0,NaN,경기도 파주시,NaN,37.744533,126.873650,NaN,NaN
38480,229900026,파주시,옥계동,Okgye-dong,31601.0,NaN,경기도 파주시,NaN,37.744483,126.873433,NaN,NaN
38481,229900027,파주시,용미2리,Yongmi 2-ri,31584.0,NaN,경기도 파주시,NaN,37.746783,126.870667,NaN,NaN
38482,229900028,파주시,용미2리,Yongmi 2-ri,31585.0,NaN,경기도 파주시,NaN,37.746717,126.870650,NaN,NaN
38483,229900029,파주시,연대앞,Regiment,31586.0,NaN,경기도 파주시,NaN,37.748900,126.866000,NaN,NaN
38484,229900030,파주시,연대앞,Regiment,31587.0,NaN,경기도 파주시,NaN,37.748817,126.866000,NaN,NaN
38485,229900031,파주시,용미1리.한민고,"Yongmi 1-ri, Hanmin High School",31588.0,NaN,경기도 파주시,NaN,37.754700,126.861567,NaN,NaN
38486,229900032,파주시,용미1리.한민고,"Yongmi 1-ri, Hanmin High School",31589.0,NaN,경기도 파주시,NaN,37.754700,126.861683,NaN,NaN
38487,229900033,파주시,분수1리,Bunsu 1-ri,31590.0,노변정류장,경기도 파주시,NaN,37.764400,126.857967,NaN,NaN
38488,229900034,파주시,분수1리,Bunsu 1-ri,31591.0,노변정류장,경기도 파주시,NaN,37.764250,126.857917,NaN,NaN
38489,229900035,파주시,윤관장군묘,Tomb of General Yun Kwan,31592.0,노변정류장,경기도 파주시,NaN,37.767500,126.854983,NaN,NaN
38490,229900036,파주시,윤관장군묘,Tomb of General Yun Kwan,31579.0,노변정류장,경기도 파주시,NaN,37.767367,126.855067,NaN,NaN
38491,229900037,파주시,한국자원재생공사,Korea Resources Recovery & Reutilization Corpo...,31611.0,노변정류장,경기도 파주시,NaN,37.769583,126.851900,NaN,NaN
38492,229900038,파주시,한국자원재생공사,Korea Resources Recovery & Reutilization Corpo...,31578.0,노변정류장,경기도 파주시,NaN,37.769867,126.851317,NaN,NaN
38493,229900039,파주시,광탄행정복지센터,Gwangtan-myeon Office,31612.0,노변정류장,경기도 파주시,NaN,37.776017,126.850700,NaN,NaN
38494,229900040,파주시,광탄행정복지센터,Gwangtan-myeon Office,31577.0,노변정류장,경기도 파주시,NaN,37.776067,126.850583,NaN,NaN
38495,236001191,포천시,경기할인마트,Gyeonggi Discount Mart,40671.0,노변정류장,경기도 포천시,경기도 포천시 소흘읍,37.814267,127.161117,NaN,NaN
38496,236001193,포천시,유교3리마을회관앞,Yugyo 3-ri Community Center,41652.0,노변정류장,경기도 포천시,경기도 포천시 군내면,37.871400,127.198250,NaN,NaN
38497,236001194,포천시,유교1리.영신산업,"Yugyo 1-ri, Youngsin Industries",41654.0,노변정류장,경기도 포천시,경기도 포천시 군내면,37.870550,127.195233,NaN,NaN
38498,236001196,포천시,감암1리입구,Gamam 1-ri,41651.0,노변정류장,경기도 포천시,경기도 포천시 군내면,37.869600,127.187700,NaN,NaN
38499,236001198,포천시,가산슈퍼,Gasan Supermarket,40720.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.825067,127.180333,NaN,NaN
38500,236001199,포천시,벌말,Beolmal,40721.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.827467,127.169950,NaN,NaN
38501,228003375,용인시,현대1차후문,Hyunda 1-cha Back Gate,56396.0,노변정류장,경기도 용인시,NaN,37.325367,127.095650,56396.0,NaN
38502,228003379,용인시,한국전력.등산로입구,"KEPCO, Trail",56400.0,노변정류장,경기도 용인시,NaN,37.326033,127.061250,56400.0,NaN
38503,236001214,포천시,너베기입구,Neobegi,40673.0,노변정류장,경기도 포천시,경기도 포천시 가산면,37.832217,127.182733,40673.0,NaN
38504,228003381,용인시,현대빌리지,Hyundai Village,56402.0,노변정류장,경기도 용인시,NaN,37.326433,127.071317,56402.0,NaN
38505,228003382,용인시,현대빌리지,Hyundai Village,56403.0,노변정류장,경기도 용인시,NaN,37.326450,127.071100,56403.0,NaN
38506,236001229,포천시,평강식물원,Pyunggang Botanical Garden,40691.0,노변정류장,경기도 포천시,경기도 포천시 영북면,38.050650,127.306617,40691.0,NaN
38507,236001230,포천시,양문1리.영중면사무소,"Yangmun 1-ri, Yeongjung-myeon Office",40699.0,노변정류장,경기도 포천시,NaN,38.005517,127.245667,40699.0,NaN
38508,236001234,포천시,포천농협.하나로마트,"Pocheon Nonghyup, Hanaro Mart",40692.0,노변정류장,경기도 포천시,NaN,37.901217,127.206933,40692.0,NaN

In [1]:
StationTable.shape

NameError: name 'StationTable' is not defined

In [54]:
# 정류소 번호 중복 제거
StationTable.drop_duplicates(subset ="정류소번호", 
                     keep = 'first', inplace = True)

In [55]:
StationTable.shape

(31686, 12)

## 버스별로 노선 확인 (Folium 이용)

In [56]:
StationTable.sample()

,표준정류장ID,시군명,정류소명,정류소영문명,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도,모바일정류장ID,이비카드정류장ID
35337,235000520,양주시,현진에버빌아파트,Hyunjin Evervill Apartment,39768.0,노변정류장,경기도 양주시,경기도 양주시 덕계동,37.8064,127.060717,[None None None None None None None None None ...,4196233.0

In [57]:
StationTable[StationTable['표준정류장ID'] == 228001552]

,표준정류장ID,시군명,정류소명,정류소영문명,정류소번호,중앙차로여부,관할관청,위치,WGS84위도,WGS84경도,모바일정류장ID,이비카드정류장ID
18624,228001552,용인시,용인터미널,Yongin Terminal,47634.0,노변정류장,경기도 용인시,경기도 용인시 처인구 김량장동,37.232783,127.2101,[None None None None None None None None None ...,4176783.0

In [58]:
RouteStationInfo.shape

(37831, 7)

In [59]:
RouteStationInfo_latlon = pd.merge(RouteStationInfo, 
             StationTable[['정류소명', '표준정류장ID', 'WGS84위도', 'WGS84경도', '관할관청','이비카드정류장ID']],
             left_on='station_id', right_on='표준정류장ID', how='left')

In [60]:
RouteStationInfo_latlon.head()

,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
0,65286,228000018,10-4,1,용인터미널,228001552,47634.0,용인터미널,228001552.0,37.232783,127.210100,경기도 용인시,4176783.0
1,65287,228000018,10-4,2,용인터미널(경유),277102443,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,65288,228000018,10-4,3,포브스병원,228000443,29439.0,포브스병원,228000443.0,37.235267,127.210617,경기도 용인시,4150418.0
3,65289,228000018,10-4,4,제일교회,228000665,29881.0,제일교회,228000665.0,37.234300,127.213333,경기도 용인시,4196832.0
4,65290,228000018,10-4,5,라이프아파트,228000664,29457.0,라이프아파트,228000664.0,37.231483,127.213767,경기도 용인시,4150529.0

In [61]:
RouteStationInfo_latlon.isnull().sum()

seq                    0
pr_station_id          0
bus_line_no            0
bus_line_no_seq        0
station_nm             0
station_id             0
mobile_no           2350
정류소명                4627
표준정류장ID             4627
WGS84위도             4627
WGS84경도             4627
관할관청                5538
이비카드정류장ID          10753
dtype: int64

총 4627개의 결측값이 존재하는 정류장을 어떻게 해야하나...흠...

In [62]:
# 일단 결측값 데이터 제외
RouteStationInfo_latlon = RouteStationInfo_latlon.dropna()
RouteStationInfo_latlon.head()

,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
0,65286,228000018,10-4,1,용인터미널,228001552,47634.0,용인터미널,228001552.0,37.232783,127.210100,경기도 용인시,4176783.0
2,65288,228000018,10-4,3,포브스병원,228000443,29439.0,포브스병원,228000443.0,37.235267,127.210617,경기도 용인시,4150418.0
3,65289,228000018,10-4,4,제일교회,228000665,29881.0,제일교회,228000665.0,37.234300,127.213333,경기도 용인시,4196832.0
4,65290,228000018,10-4,5,라이프아파트,228000664,29457.0,라이프아파트,228000664.0,37.231483,127.213767,경기도 용인시,4150529.0
5,65291,228000018,10-4,6,송담대,228000663,29464.0,송담대,228000663.0,37.228133,127.215267,경기도 용인시,4111697.0

In [63]:
RouteStationInfo_latlon.reset_index()

,index,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
0,0,65286,228000018,10-4,1,용인터미널,228001552,47634.0,용인터미널,228001552.0,37.232783,127.210100,경기도 용인시,4176783.0
1,2,65288,228000018,10-4,3,포브스병원,228000443,29439.0,포브스병원,228000443.0,37.235267,127.210617,경기도 용인시,4150418.0
2,3,65289,228000018,10-4,4,제일교회,228000665,29881.0,제일교회,228000665.0,37.234300,127.213333,경기도 용인시,4196832.0
3,4,65290,228000018,10-4,5,라이프아파트,228000664,29457.0,라이프아파트,228000664.0,37.231483,127.213767,경기도 용인시,4150529.0
4,5,65291,228000018,10-4,6,송담대,228000663,29464.0,송담대,228000663.0,37.228133,127.215267,경기도 용인시,4111697.0
5,6,65292,228000018,10-4,7,기후변화체험교육센터.삼삼부락,228001508,29883.0,기후변화체험교육센터.삼삼부락,228001508.0,37.223167,127.224067,경기도 용인시,4196834.0
6,7,65293,228000018,10-4,8,삼삼부락마을회관,228000662,29488.0,삼삼부락마을회관,228000662.0,37.221133,127.226167,경기도 용인시,4150530.0
7,8,65294,228000018,10-4,9,목동야목농원,228001509,29885.0,목동야목농원,228001509.0,37.218167,127.229717,경기도 용인시,4196836.0
8,9,65295,228000018,10-4,10,예비군훈련장,228000661,29497.0,예비군훈련장,228000661.0,37.216117,127.230517,경기도 용인시,4150533.0
9,10,65296,228000018,10-4,11,별학,228000660,29508.0,별학,228000660.0,37.209367,127.234033,경기도 용인시,4150534.0
10,11,65297,228000018,10-4,12,백마기도원,228000659,29519.0,백마기도원,228000659.0,37.206883,127.237100,경기도 용인시,4150536.0
11,12,65298,228000018,10-4,13,장재미,228001511,29888.0,장재미,228001511.0,37.204950,127.240267,경기도 용인시,4196839.0
12,13,65299,228000018,10-4,14,운학초등학교,228000658,29532.0,운학초등학교,228000658.0,37.202383,127.244833,경기도 용인시,4150538.0
13,14,65300,228000018,10-4,15,엘에스시스템,228000657,47522.0,엘에스시스템,228000657.0,37.200067,127.249150,경기도 용인시,4176592.0
14,15,65301,228000018,10-4,16,예직,228000656,29558.0,예직,228000656.0,37.191900,127.257450,경기도 용인시,4150541.0
15,16,65302,228000018,10-4,17,해곡동,228001718,29889.0,해곡동,228001718.0,37.188533,127.267867,경기도 용인시,4196840.0
16,17,65303,228000018,10-4,18,별미,228001714,29563.0,별미,228001714.0,37.187483,127.270550,경기도 용인시,4150543.0
17,18,65304,228000018,10-4,19,와우정사,228001514,29573.0,와우정사,228001514.0,37.188700,127.276717,경기도 용인시,4150547.0
18,19,65305,228000018,10-4,20,곱등고개,228000654,29890.0,곱등고개,228000654.0,37.181867,127.283100,경기도 용인시,4196841.0
19,20,65306,228000018,10-4,21,용암,228001515,47639.0,용암,228001515.0,37.177550,127.295083,경기도 용인시,4176778.0
20,21,65307,228000018,10-4,22,물구리,228000653,29588.0,물구리,228000653.0,37.179167,127.300367,경기도 용인시,4150550.0
21,22,65308,228000018,10-4,23,사암주유소,228001517,29597.0,사암주유소,228001517.0,37.180733,127.305250,경기도 용인시,4150552.0
22,23,65309,228000018,10-4,24,고당리,228001518,29891.0,고당리,228001518.0,37.176000,127.308350,경기도 용인시,4196842.0
23,24,65310,228000018,10-4,25,원삼,228001597,29617.0,원삼,228001597.0,37.164733,127.310917,경기도 용인시,4150556.0
24,25,65311,228000018,10-4,26,원삼초등학교,228000651,29629.0,원삼초등학교,228000651.0,37.162583,127.315700,경기도 용인시,4135596.0
25,26,65312,228000018,10-4,27,독성2리,228000650,29644.0,독성2리,228000650.0,37.159750,127.321650,경기도 용인시,4150560.0
26,27,65313,228000018,10-4,28,두창7리,228000648,29658.0,두창7리,228000648.0,37.155483,127.337750,경기도 용인시,4150562.0
27,28,65314,228000018,10-4,29,두창리,228000647,29660.0,두창리,228000647.0,37.155667,127.341167,경기도 용인시,4150564.0
28,29,65315,228000018,10-4,30,율곡,228000646,29895.0,율곡,228000646.0,37.154800,127.344900,경기도 용인시,4196846.0
29,31,65317,228000018,10-4,32,용운사입구,228001612,29896.0,용운사입구,228001612.0,37.158583,127.352100,경기도 용인시,4196847.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26813,37792,191716,241491011,38-1,29,우남퍼스트빌,233000080,36366.0,우남퍼스트빌,233000080.0,37.207617,127.042933,경기도 화성시,4108011.0
26814,37793,191717,241491011,38-1,30,주공1.2단지,233000079,36356.0,주공1.2단지,233000079.0,37.208100,127.041067,경기도 화성시,4108009.0
26815,37794,191718,241491011,38-1,31,신한에스빌아파트,233000062,37352.0,신한에스빌아파트,233000062.0,37.208817,127.038783,경기도 화성시,4195534.0
26816,37795,191719,241491011,38-1,32,동부출장소앞,233000676,36756.0,동부출장소앞,233000676.0,37.208083,127.036133,경기도 화성시,4170258.0
26817,37796,191720,241491011,38-1,33,병점역사거리,233000702,36345.0,병점역사거리,233000702.0,37.206917,127.035633,경기도 화성시,4151651.0
26818,37797,191721,241491011,38-1,34,홈플러스.벌말초교,233000100,36351.0,홈플러스.벌말초교,233000100.0,37.203300,127.038133,경기도 화성시,4100049.0
26819,37798,191722,241491011,38-1,35,우남퍼스트빌3차아파트,233000099,36359.0,우남퍼스트빌3차아파트,233000099.0,37.198017,127.041283,경기도 화성시,4117311.0
26820,37799,191723,241491011,38-1,36,신창미션힐.송화초교,233000101,36350.0,신창미션힐.송화초교,233000101.0,37.203300,127.038550,경기도 화성시,4100048.0
26821,37801,191725,241491011,38-1,38,신한에스빌아파트앞,233002098,55086.0,신한에스빌아파트앞,233002098.0,37.208967,127.039517,경기도 화성시,4170967.0
26822,37802,191726,241491011,38-1,39,주공1.2단지,233000078,36360.0,주공1.2단지,233000078.0,37.207967,127.040917,경기도 화성시,4108010.0
26823,37803,191727,241491011,38-1,40,주공4단지,233000087,36369.0,주공4단지,233000087.0,37.208167,127.044500,경기도 화성시,4108012.0
26824,37804,191728,241491011,38-1,41,신창2차아파트,233000086,36376.0,신창2차아파트,233000086.0,37.209683,127.047583,경기도 화성시,4108013.0
26825,37805,191729,241491011,38-1,42,안화고등학교,233002394,55281.0,안화고등학교,233002394.0,37.211433,127.047517,경기도 화성시,4116267.0
26826,37806,191730,241491011,38-1,43,안화초교.주공8.9단지,233000071,36372.0,안화초교.주공8.9단지,233000071.0,37.213300,127.046083,경기도 화성시,4108016.0
26827,37807,191731,241491011,38-1,44,중심상가,233000066,36795.0,중심상가,233000066.0,37.215150,127.043750,경기도 화성시,4170338.0
26828,37808,191732,241491011,38-1,45,롯데시네마,233002132,55279.0,롯데시네마,233002132.0,37.214483,127.042450,경기도 화성시,4119331.0
26829,37809,191733,241491011,38-1,46,진안동,233000671,36354.0,진안동,233000671.0,37.213017,127.039300,경기도 화성시,4130129.0
26830,37810,191734,241491011,38-1,47,안용중학교.현충탑,233000670,36328.0,안용중학교.현충탑,233000670.0,37.205567,127.021917,경기도 화성시,4130133.0
26831,37811,191735,241491011,38-1,48,송산동입구,233000669,36318.0,송산동입구,233000669.0,37.205850,127.017783,경기도 화성시,4130134.0
26832,37812,191736,241491011,38-1,49,안녕농협삼거리,233000604,36312.0,안녕농협삼거리,233000604.0,37.205300,127.014250,경기도 화성시,4130135.0
26833,37813,191737,241491011,38-1,50,남수원현대아파트,233000603,36307.0,남수원현대아파트,233000603.0,37.207667,127.010517,경기도 화성시,4130136.0
26834,37814,191738,241491011,38-1,51,우남블루존.원광병원,233000602,36301.0,우남블루존아파트,233000602.0,37.209833,127.009233,경기도 화성시,4117411.0
26835,37815,191739,241491011,38-1,52,용주사,233000601,36288.0,용주사,233000601.0,37.210517,127.004300,경기도 화성시,4130138.0
26836,37816,191740,241491011,38-1,53,안녕자원,233001130,36281.0,안녕자원,233001130.0,37.209667,127.000467,경기도 화성시,4117412.0
26837,37817,191741,241491011,38-1,54,지킴이마을.타래치길,233001131,36273.0,지킴이마을.타래치길,233001131.0,37.207000,126.993017,경기도 화성시,4117413.0
26838,37818,191742,241491011,38-1,55,융건릉,233000600,36262.0,융건릉,233000600.0,37.208050,126.988700,경기도 화성시,4116670.0
26839,37819,191743,241491011,38-1,56,안녕4통,233002234,55122.0,안녕4통,233002234.0,37.212633,126.982783,경기도 화성시,4117345.0
26840,37820,191744,241491011,38-1,57,수원대학교,233000576,36204.0,수원대학교,233000576.0,37.214167,126.979150,경기도 화성시,4116671.0
26841,37821,191745,241491011,38-1,58,와우2리,233000945,36194.0,와우2리,233000945.0,37.215983,126.976317,경기도 화성시,4116674.0
26842,37822,191746,241491011,38-1,59,와우농협앞,233001457,37529.0,와우농협앞,233001457.0,37.218000,126.974633,경기도 화성시,4170918.0

In [64]:
RouteStationInfo_latlon.iloc[0][['WGS84위도', 'WGS84경도']]

WGS84위도    37.2328
WGS84경도     127.21
Name: 0, dtype: object

In [65]:
busline = RouteStationInfo_latlon['bus_line_no'].unique()
busline

array(['10-4', '7', '8', '22', '12', '9-1', '73', '2', '3', '9', '11',
       '6', '2-1', '73-1', '81', '24', '20', '10-1', '10-2', '14', '6-1',
       '16', '77', '100', '10-6', '10-7', '11-1', '13', '19', '17',
       '12-1', '11-2', '11-3', '66', '80', '31', '200', '333', '150',
       '38', '37', '19-1', '10', '15', '23', '29', '1', '2-2', '2-3',
       '7-1', '1-1', '50-2', '50-1', '50-5', '50-7', '35', '3-2', '3-1',
       '5', '5-2', '38-1', '35-2', '15-4', '10-8', '1002', '201', '202',
       '1004', '21', '4', '4-1', '330', '33-1', '5-4', '2-4', '18', '6-2',
       '6-3', '8-3', '8-2', '8-1', '11-5', '11-4', '1004-1', '340',
       '1000', '330-1', '25', '26', '27', '340-1', '1008', '33-2', '712',
       '6001', '116-3', '1001', '8501', '6002', '8155', '6002-1', '710',
       '203', '8156', '2000A', '2000B', '4403', '6003', '28', '8156(급행)',
       '4108', '9802', '8472', '8471', '39', 'H6005', '116-5', 'H6007',
       'H6006', '205', '10-5', '31-3', '720-3', '13-2', '6004', '36-2',
       '27-1', '27-2', '35-1', '22-2', '17-1', '31-2', '39-1', '36',
       '36-3', '36-1', '39-2', '721', '116-2', '78', '76', '701', '50-4',
       '31-1', '50', '79', '709', '709-1', 'H4', 'H5', 'H6(A)', 'H6(B)',
       '51', '66A', '19-2', '19-3', 'H1', 'H3', 'H2', '20(마산포)',
       '20(어도동내)', '20(어도펜션)', '공영1(사곳.궁평)', '공영1(매화.궁평)', '공영1(궁평.사곳)',
       '공영1(지화2리)', '공영2(삼존대광A)', '공영2(송정대광A)', '공영2(금당2리)', '공영2(지화2리)',
       '공영3(장문지화1)', '공영3(청원.삼존)', '공영4(도말.고포)', '공영3(삼존.청원)',
       '공영3(금당2리)', '공영4(삼존2.3리)', '공영4(마산.고포)', '공영4(형도.고포)',
       '공영4(솔미.구렛)', '20-2(용포화석지)', '20-2(천등.고정)', '20-2(용포고정천)',
       '20-2(용포.고정)', '20-2(천등화석지)', '20-1(백곡리)', '20-1(홍법리)',
       '20-1(독지리)', '20-3(왕모대시청)', '20-3(당성왕모대)', '20-3(쌍쏭.대광A)', '20-4A',
       '20-1(고모리)', '공영3(솔미.구렛)', '공영3(지화2리)', '공영4(돌내.형도)', '공영4(돌내독지1)',
       '공영4(돌내독지2)', '20-4B', '50-2(금강)', '14-4', '88C', '15-5', '13-1',
       '5-1A', '50-3(안석)', '50-6(대광1차)', '50-8(신외)', '50-4(대광1차)', '5-1B',
       '50-3(살곶)', '50-6(대광2차)', '50-8(송산)', '22-3(장전)', '22-3(신경대)',
       'H8', '10-3', '13-3', '13-4', '36A', '36-2A', '39A', '13-4A',
       '13-7', '13-5', '13-6', 'H7'], dtype=object)

```
단순히 버스 번호로는 구분지을 수 없음 ㅜㅜ
관할관청에 따라서 또 따로 구분해야함!!!

용인시가 껴있는데
화성시만 뽑아내서 쓰면 되는건가??
```

## 관할 관청 화성시데이터만 뽑아내기

In [66]:
RouteStationInfo_latlon[RouteStationInfo_latlon['관할관청'] == '경기도 화성시']['bus_line_no'].nunique()

218

In [83]:
RouteStationInfo_latlon['bus_line_no'].nunique()

218

In [84]:
RouteStationInfo_latlon = RouteStationInfo_latlon[RouteStationInfo_latlon['관할관청'] == '경기도 화성시']

## 화성시 버스 노선 전부 나타내기

In [85]:
RouteStationInfo_latlon.head()

,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
927,68834,228000204,24,53,한원IC,233000169,37403.0,한원IC,233000169.0,37.152733,127.122883,경기도 화성시,4170725.0
928,68835,228000204,24,54,장지동,233000168,36808.0,장지리,233000168.0,37.155117,127.117900,경기도 화성시,4170397.0
929,68836,228000204,24,55,장지동,233000167,36809.0,장지리,233000167.0,37.155867,127.115017,경기도 화성시,4170396.0
932,68839,228000204,24,58,꽃가마약수터,233000166,36810.0,꽃가마약수터,233000166.0,37.159100,127.099350,경기도 화성시,4170395.0
954,68861,228000204,24,80,꽃가마약수터,233001323,36943.0,꽃가마약수터,233001323.0,37.158900,127.098750,경기도 화성시,4170651.0

In [163]:
All_busline = []
bus_num_ = 0

for j in range(len(busline)):
    tmp_busline = RouteStationInfo_latlon[RouteStationInfo_latlon['bus_line_no'] == busline[j]]
    tmp_buslineArr = []
    for i in range(len(tmp_busline)):
        tmp = tmp_busline.iloc[i]
        tmp_buslineArr.append((tmp['WGS84위도'], tmp['WGS84경도']))
    All_busline.append(tmp_buslineArr)
    bus_num_ += 1

In [87]:
type(All_busline)

list

In [172]:
Busline = folium.Map(location = [37.234300,127.213333])

# 왜 앙대닝 흐엉
for i in range(226):
    if(len(All_busline[i]) == 0):
        continue
    folium.PolyLine(All_busline[i], color="red", weight=2.5, opacity=1).add_to(Busline)



folium.PolyLine(All_busline[0], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[1], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[2], color="red", weight=2.5, opacity=1).add_to(Busline)
# folium.PolyLine(All_busline[3], color="red", weight=2.5, opacity=1).add_to(Busline)
Busline

## 환승량이 많은 이용자

In [102]:
TripChain_order= TripChain.sort_values(['환승횟수'], ascending= [False])
# data = data.sort_values(["time"], ascending=[False])
TripChain_over3=TripChain_order[TripChain_order['환승횟수']>=3]

In [103]:
TripChain_over3.shape

(98393, 51)

In [104]:
TripChain_over3['최초승차역ID'] = TripChain_over3['승차역ID1']

C:\Users\Leila\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [105]:
TripChain_over3 = TripChain_over3[TripChain_over3['최초승차역ID']!=TripChain_over3['최종하차역ID']]

In [106]:
TripChain_over3.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
338653,100475967013,11,5,3104012,1,1,500.0,500.0,582.0,582.0,...,NaN,NaN,NaN,4115139.0,4115131.0,4179371.0,4115131.0,1450,5,;
1036825,900490539913,41,5,9000901,1,1,500.0,500.0,500.0,530.0,...,NaN,NaN,NaN,4170271.0,4170352.0,4170347.0,4170352.0,2050,5,;
146918,900484810216,3,5,3101000,1,4,500.0,500.0,500.0,500.0,...,NaN,NaN,NaN,4170101.0,4107952.0,4108069.0,4107952.0,870,5,;
727713,900467123199,44,5,9000901,1,1,202.0,500.0,500.0,202.0,...,NaN,NaN,NaN,4311.0,4179149.0,1863.0,4179149.0,1350,5,;
395258,900523539981,59,5,9000901,1,1,115.0,115.0,582.0,511.0,...,NaN,NaN,NaN,9179237.0,4100625.0,9000258.0,4100625.0,1250,5,;

In [107]:
RouteStationInfo_latlon['이비카드정류장ID'].nunique()

1444

In [108]:
TripChain_over3['최초승차역ID'].nunique()

10455

In [109]:
TripChain_over3['최종하차역ID'].nunique()

10963

In [110]:
RouteStationInfo_latlon.head()

,seq,pr_station_id,bus_line_no,bus_line_no_seq,station_nm,station_id,mobile_no,정류소명,표준정류장ID,WGS84위도,WGS84경도,관할관청,이비카드정류장ID
927,68834,228000204,24,53,한원IC,233000169,37403.0,한원IC,233000169.0,37.152733,127.122883,경기도 화성시,4170725.0
928,68835,228000204,24,54,장지동,233000168,36808.0,장지리,233000168.0,37.155117,127.117900,경기도 화성시,4170397.0
929,68836,228000204,24,55,장지동,233000167,36809.0,장지리,233000167.0,37.155867,127.115017,경기도 화성시,4170396.0
932,68839,228000204,24,58,꽃가마약수터,233000166,36810.0,꽃가마약수터,233000166.0,37.159100,127.099350,경기도 화성시,4170395.0
954,68861,228000204,24,80,꽃가마약수터,233001323,36943.0,꽃가마약수터,233001323.0,37.158900,127.098750,경기도 화성시,4170651.0

In [99]:
# TripChain_over3.sample()



# pd.merge(TripChain_over3[['암호화카드번호', '환승횟수','사용자구분', '승차역ID1', '승차역ID2', '승차역ID3', '승차역ID4', '승차역ID5', 
# '하차역ID1', '하차역ID2', '하차역ID3', '하차역ID4', '하차역ID5', ,'최초승차역ID', '최종하차역ID', '총이용금액']], 
#          RouteStationInfo_latlon[['정류소명', 'station_id', 'WGS84위도', 'WGS84경도','이비카드정류장ID']],

In [111]:
TripChain_over3.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
338653,100475967013,11,5,3104012,1,1,500.0,500.0,582.0,582.0,...,NaN,NaN,NaN,4115139.0,4115131.0,4179371.0,4115131.0,1450,5,;
1036825,900490539913,41,5,9000901,1,1,500.0,500.0,500.0,530.0,...,NaN,NaN,NaN,4170271.0,4170352.0,4170347.0,4170352.0,2050,5,;
146918,900484810216,3,5,3101000,1,4,500.0,500.0,500.0,500.0,...,NaN,NaN,NaN,4170101.0,4107952.0,4108069.0,4107952.0,870,5,;
727713,900467123199,44,5,9000901,1,1,202.0,500.0,500.0,202.0,...,NaN,NaN,NaN,4311.0,4179149.0,1863.0,4179149.0,1350,5,;
395258,900523539981,59,5,9000901,1,1,115.0,115.0,582.0,511.0,...,NaN,NaN,NaN,9179237.0,4100625.0,9000258.0,4100625.0,1250,5,;

In [112]:
TripChain_over3[['최초승차역ID', '최종하차역ID']].reset_index()

         index    최초승차역ID    최종하차역ID
0       338653  4179371.0  4115131.0
1      1036825  4170347.0  4170352.0
2       146918  4108069.0  4107952.0
3       727713     1863.0  4179149.0
4       395258  9000258.0  4100625.0
5       666707  4102932.0  4120750.0
6       929996  4116789.0  4116787.0
7        73077  9117184.0  4197682.0
8       328849  4170093.0  4116659.0
9       227157  4122896.0  4110198.0
10     1006277  9006461.0      313.0
11      292527  4100146.0  4179318.0
12      932921      220.0  4170094.0
13      118806  4116957.0  4116823.0
14      123717     4110.0  4111873.0
15      500793  4170867.0  4170407.0
16      863499  4101893.0  4110168.0
17      813556  4117022.0  4103490.0
18      367341  4111741.0  4179150.0
19      803825     1869.0  4105319.0
20      948322    73773.0  4108173.0
21      197218    74577.0  4123602.0
22      367352  4176783.0  4100657.0
23      922052  4135067.0     8151.0
24      666754  4115085.0  4116964.0
25      984811  4118204.0  4100060.0
26      912460  4116948.0  9000129.0
27     1006249  4116806.0  4116883.0
28      948352      228.0  4116659.0
29      863422  8009290.0     2518.0
...        ...        ...        ...
98056   631111  2801457.0  4197607.0
98057   339590     1871.0  4108135.0
98058    48609  4108035.0  4113323.0
98059    46812  4108052.0  4120455.0
98060   942242  4108134.0  4103456.0
98061   297802  4116922.0  4119687.0
98062  1037482      429.0  4199071.0
98063   297947  4116906.0  4170112.0
98064   946651  4116895.0  4117362.0
98065   946184  4116788.0      227.0
98066   621471  4179373.0      420.0
98067     4953  4117022.0  4100084.0
98068   401904  4111725.0  4108168.0
98069   401596  4100092.0      423.0
98070   675574  4100157.0  4113290.0
98071  1035672  4116787.0  4116734.0
98072   946685  4199432.0  4170336.0
98073   401892  4151750.0  4114201.0
98074   404586  4108034.0  4119153.0
98075  1035874  4170343.0  4117022.0
98076   942247  4110286.0  4199630.0
98077    48608  4108196.0  4150172.0
98078   401620  4116712.0  4108225.0
98079  1035868  4116682.0  4116107.0
98080   404268  4116952.0  4108092.0
98081   631039  4150595.0  4111847.0
98082   297801  4107122.0  4116907.0
98083   401574  8001639.0  4108153.0
98084   946191  4108109.0  4110062.0
98085   339596  4114212.0  4116398.0

[98086 rows x 3 columns]

### ID type을 모두 int64로 변경

In [113]:
tmp = TripChain_over3[['최초승차역ID', '최종하차역ID']].reset_index()
TripChain_over3['최초승차역ID'] = tmp['최초승차역ID'].values.astype(np.int64)

In [114]:
TripChain_over3.head()

,암호화카드번호,트랜잭션ID,환승횟수,교통카드발행사ID,총이용객수,사용자구분,교통수단CD1,교통수단CD2,교통수단CD3,교통수단CD4,...,하차역ID1,하차역ID2,하차역ID3,하차역ID4,하차역ID5,최초승차역ID,최종하차역ID,총이용금액,수집건수,트립체인완료코드
338653,100475967013,11,5,3104012,1,1,500.0,500.0,582.0,582.0,...,NaN,NaN,NaN,4115139.0,4115131.0,4179371,4115131.0,1450,5,;
1036825,900490539913,41,5,9000901,1,1,500.0,500.0,500.0,530.0,...,NaN,NaN,NaN,4170271.0,4170352.0,4170347,4170352.0,2050,5,;
146918,900484810216,3,5,3101000,1,4,500.0,500.0,500.0,500.0,...,NaN,NaN,NaN,4170101.0,4107952.0,4108069,4107952.0,870,5,;
727713,900467123199,44,5,9000901,1,1,202.0,500.0,500.0,202.0,...,NaN,NaN,NaN,4311.0,4179149.0,1863,4179149.0,1350,5,;
395258,900523539981,59,5,9000901,1,1,115.0,115.0,582.0,511.0,...,NaN,NaN,NaN,9179237.0,4100625.0,9000258,4100625.0,1250,5,;

---

---

# 참고

### list형태가 아니라 scalar 값 하나가 필요할 때

In [115]:
tmp = [1]

In [149]:
tmp3 = ['1', '2','dd']
tmp3[np.random.randint(2, size=1)[0]]

'1'